
#login-button {
    background-color: #fffcf2;
    color: #252422;
    font-weight: bolder;
    padding: 10px 20px;
    border: 2px solid #252422;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s ease;
}
#login-button:hover {
    color: #EB5E28;
}

/* Modals */
#login-modal, #register-modal {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffcf2;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}
.modal-switch {
    text-align: center;
    margin-top: 20px;
}
#modal-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
#login-modal-buttons, #register-modal-buttons {
    display: flex;
    justify-content: space-between;
}
#login-modal-login-button, #register-modal-register-button,
#close-login-modal-button, #register-modal-close-button
{
    width: 49%;
    text-align: center;
}
#login-email, #login-password, #register-email,
#register-password, #register-confirm-password {
    width: 100%;
}

/* Filtering */
#controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#add-task-button-container, #filter-container {
    width: 48%; /* Each container takes up approximately half of the width */
    display: flex;
    align-items: center;
    gap: 10px;
}

#filter-container {
    justify-content: flex-end; /* Align to the left */
}

#tag-filter-input {
    padding: 5px;
    border: 1px solid #252422;
    border-radius: 5px;
    background-color: #fffcf2;
    color: #252422;
    width: 200px;
    font-size: 14px;
}

#tag-suggestions {
    visibility: hidden;
    position: absolute;
    background-color: #fffcf2;
    border: 1px solid #ccc5b9;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    overflow-y: auto;
    z-index: 1000;
    width: 200px;
}

#tag-suggestions div {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#tag-suggestions div:hover {
    background-color: #ccc5b9;
}

#isCompleted-filter {
    margin-left: 10px;
    cursor: pointer;
    background-color: #fffcf2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #252422;
    color: #252422;
}

#pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #fffcf2;
    border-radius: 5px;
    border: 1px solid #252422;
    color: #252422;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.pagination-button:disabled {
    background-color: #ccc;
    color: #ffffff;
    border: none;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #EB5E28;
    color: #fffcf2;
}

#pagination-info {
    font-size: 14px;
    font-weight: bold;
    color: #252422;
}


/* Add task button */
#add-task-button {
    align-self: center; 
    width: 20%;
    font-weight: bold;
    color: #252422; 
    background-color: #fffcf2; 
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #252422; 
}
#add-task-button:hover {
    color: #EB5E28;
}

/* Task List */
#task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;
}
#task-list-title {
    text-align: center;
    color: #252422;
    background-color: #fffcf2;
    padding: 20px 0;
    border-radius: 10px;
}

/* Task */
.task {
    background-color: #fffcf2; 
    width: calc(33% - 10px); 
    border: 2px solid #252422; 
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, opacity 0.5s ease, height 0.5s ease;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 0.5s ease-in-out;
}
.task:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fade-out {
    opacity: 0; 
    transform: translateY(-10px); 
    height: 0;  
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.task-title {
    text-align: center;
    color:#252422;
    border-radius: 5px;
    font-size: x-large;
    font-weight:bolder;
    margin: 10px;
    height: 40px;
}
.task-dates {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-style: italic;
    font-size: smaller;
    height: 30px;
}
.task-description {
    height: 100px;
    overflow: hidden;
}
.task-dates p {
    margin: 0;
}
.task-created-time{
    text-align: left;
}
.task-updated-time{
    text-align: right;
}
.task-tags-title {
    color: #252422;
    height: 20px;
}
.task-tags-list {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
    padding: 10px 0;
    margin: 0;
    height: 60px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}
.task-buttons {
    padding: 20px 0 10px 0;
    height: 40px;
}
.add-tag-input {
    background-color: white;
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    color:#252422;
    height: 25px;
}
.task-title-input
{
    background-color: white;
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color:#252422;
    height: 40px;
    text-align: center;
    align-self: center;
    font-size: larger;
    font-weight: bolder;
}
.task-description-input
{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    color:#252422;
    resize: none;
    height: 160px;
}


/* Task Tag */
.task-tag {
    background-color: #ccc5b9; 
    color: #EB5E28; 
    padding: 5px;
    border-radius: 5px;
    height: 25px;
}
.remove-tag-button {
    background-color: #FFFCF2; 
    color: #252422; 
    font-weight: bold;
    padding: 3px 7px;
    margin: 0 5px;
    border-radius: 5px;
    transition: color 0.2s ease;
}
.remove-tag-button:hover {
    color: red;
}

/* Input */
#register-email, #register-password,
#register-confirm-password, #login-email, #login-password {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    color:#252422;
}

.edit-task-button, .update-task-button, .delete-task-button, 
#login-modal-login-button, #close-login-modal-button,
#register-modal-register-button, #register-modal-close-button {
    background-color: #FFFCF2;
    border-radius: 5px;
    padding: 5px;
    color:#252422;
    font-family: 'Lato', sans-serif;
    transition: color 0.2s ease;
    font-weight: bolder;
    text-align: center;
}
.edit-task-button:hover, .update-task-button:hover, .delete-task-button:hover,
#login-modal-login-button:hover, #close-login-modal-button:hover,
#register-modal-register-button:hover, #register-modal-close-button:hover {
    color: #EB5E28;
}


main {
    flex: 1;
}
header {
    background-color: #403d39; 
    color: #fffcf2; 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    height: 50px;
    justify-content: space-between;
}
body {
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    background: linear-gradient(0deg,#403d3958, #fffcf2); 
    font-family: 'Lato', sans-serif;
}
footer {
    background-color: #403d39; 
    color: #fffcf2; 
    padding: 10px;
    border-radius: 10px;

}
a {
    color: #EB5E28;
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}
h1 {
    margin: 0;
    flex-grow: 1;
}
h2 {
    text-align: center;
    margin: 10px;
}
label {
    font-weight:400;
}
    
#user-buttons {
    display: flex;
    gap: 20px;
    list-style: none;
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; 
}

@media (max-width: 1200px) {
    .task {
        width: calc(50% - 10px); 
    }
}
@media (max-width: 600px) {
    .task {
        width: 100%; 
    }
    #add-task-button-container, #filter-container {
        width: 100%; /* При сжатии экрана каждый контейнер занимает 100% */
        justify-content: center; /* Центрируем элементы на маленьком экране */
        margin-bottom: 10px; /* Добавим отступы между блоками */
    }

    #pagination-controls {
        justify-content: center; /* Центрируем пагинацию на маленьком экране */
    }
}